.seeds-pollination-unmasquerade {
  width: 70px;
  height: 70px;
  background: #333;
  border-radius: 35px;
  display: block;
  cursor: pointer;
  position: fixed;
  bottom: 150px;
  right: 30px;
  border-radius: 35px;
  z-index: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seeds-pollination-unmasquerade:hover {
  color: white;
}

.seeds-pollination-unmasquerade:active {
  color: white;
}

.seeds-pollination-unmasquerade:focus {
  color: white;
}

.seeds-pollination-unmasquerade h2 {
  margin: 0;
}

[dir="rtl"] .seeds-pollination-unmasquerade {
  left: 30px;
  right: auto;
}
